@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f4f4f5;
  font-family: 'Inter', system-ui, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #4169e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3454c4;
}
